{% extends "base/base.html" %}

{% block title%}
login
{% endblock %}
{% block script %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{%block content%}
    <h2>login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">login</button>
    </form>
    <br>
    <p class="caution">If you don't have your account, please <a href="{% url 'account:create'%}">create account.</a></p>
{% endblock %}
