<div id="authors">
    <ul>
    {% for author in authors %}
        <li class="author">
            <a href="{% url 'post:search' %}?author={{ author }}">{{ author }}</a>
        </li>
    {% empty %}
        <li>no one is here.</li>
    {% endfor %}
    </ul>

    {% if authors.has_other_pages %}
    <div class="cursor">
        {% if authors.has_previous %}
            <a href="?page={{ authors.previous_page_number }}" hx-get="?page={{ authors.previous_page_number }}" hx-target="#authors" hx-swap="outerHTML"> ← prev</a>
        {% endif %}
        <span>{{ authors.number }}</span>
        {% if authors.has_next %}
            <a href="?page={{ authors.next_page_number }}" hx-get="?page={{ authors.next_page_number }}" hx-target="#authors" hx-swap="outerHTML"> next →</a>
        {% endif %}
    </div>
    {% endif %}
</div>